.cartaz{
	float: left;
	width: 350px;
	height: 765px;
	border-radius: 10px;
	background-color: black;
	margin: 57px;
	padding: 5px;
	text-align: center;
	color: white;
}

.cartaz img{
	height: 300px;
}

.cartaz a{	
	font-size: 2em;
	font-family: 'Anton', sans-serif;

	

}

.cartaz label{
	font-family: 'Libre Baskerville', serif;
	
}

.inicio h1 {
	font-family: 'Passion One', cursive;
	text-align: center;
	font-size: 4em;
	
}


